.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20px;
}

/* .Map-window {
  height: 85vh;
  width: 400px;
  padding-top: 5px; 
  align-content: center;
} */

.Div-Padding {
  /* width: 100vw; */
  /* padding-top: 1px; */
  padding-bottom: 10px;
}
.backgroundphoto {
  opacity: 0.2;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.sliderSize {
  height: "100px";
    width: "50px";
}
.Txt-color {
  color: white;
  text-align: center;
}

.Button-align {
  align-self: center;
}
.App-header {
  background-color: #222;
  height: 10px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
